html {
    background-color: white;
    border-right-style: dashed;
    border-left-style: dashed;
    border-color: maroon;
}

p {
    font-family: "trebuchetms", sans-serif;
    color: lightcyan;
}

a {
    text-align: center;

}
h1 {
   font-family: "verdana", sans-serif;
    text-align: center;
    
}
#titleheaders {
    font-family: "lucidaconsole"
    text-align: center;
    color: #C2AE4B;
    border: 3px solid black;
    margin-left: 350px;
    margin-right: 350px;
    
    
}
h2 {
    font-family: "verdana", sans-serif;
    text-align: center;
    color: maroon;
}
#headabout {
     font-family: "verdana", sans-serif;
    text-align: center;
}
#2ndheadabout {
     font-family: "verdana", sans-serif;
    text-align: center;
}
#eventTitle {
     font-family: "verdana", sans-serif;
    text-align: center;
}
#eventName {
     font-family: "verdana", sans-serif;
    
    color: maroon;
    
}
#headertext {
    font-family: "verdana", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 6px dotted grey;
    background-clip: padding-box;
    color: lightcyan;
    position: sticky;
   
}
#indexdiv {
    font-family: "impact", sans-serif;
    text-align: right;
    font-size: 35px;
    color: #C2AE4B;
    
    border: 10px solid maroon;
}
#bodydiv {
    height: 1800px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid darkslategrey;
    background-color: lightslategrey;
    
}
#headerdiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center:
    height: 20px;
    width: 30%;
    border: 6px dotted grey;
    background-clip: padding-box;
    font-size: 50px;
}
#hello {
    color: aliceblue;
}
div {
    
    margin-left: auto;
    margin-right: auto;
}
#logo {
    float: left;
}
#1 {
    font-family: "verdana", sans-serif;
    text-align: center;
}
#1a {
    align-content: center;
    
}
#indeximg {
     float: left;
    margin-left: 50px;
}
#biographydiv {
     background: #C2AE4B;
    border-style: solid;
    border-color: maroon;
    
}
#eventPost {
     background: #C2AE4B;
    border-style: solid;
    border-color: maroon;
    
}
#eventImg {
     background: maroon;
    
    border-color: green;
    border-width: 20px;
    height = 300;
    width =300;
}
#rightdiv {
    width: 400px; 
    float: right; 
    height:480px; 
    background: #C2AE4B;
    border-style: solid;
    border-color: maroon;
    margin:40px;
    margin-top: 0px;
}
#indexwelc {
    font-family: "verdana", sans-serif;
}
#body_bg {
    text-align: center;
    color:black;
    background-color: white;    
}
#login-form {
    color: black;
   font-family: "verdana", sans-serif;
    border-style: solid;
    border-color: maroon;
    background-color: #C2AE4B;
    margin-left: 200px;
    margin-right: 200px;
}

    
    
